/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.root {
  position: relative;
  height: 100svh;
  max-height: 100svh;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body {
  background-color: #001021;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
}

.b {
  background-color: #1e2d2f;
  height: 300px;
  margin-bottom: 16px;
  min-height: 300px;
}

.stub {
  background-color: #1481ba;
  height: 400px;
  margin-bottom: 16px;
  -moz-user-select:none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
  border-radius: 8px;
}

.page-header {
  height: 70px;
  min-height: 70px;
  background-color: #2d3142;
}

.swipe {
  width: 100%;
  position: absolute;
  top: 100%;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swipe_scroll {
  overflow: scroll;
  -ms-touch-action: auto;
  touch-action: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  min-height: 70px;
  height: 70px;
  background-color: #a2c7e5;
  border-radius: 12px 12px 0 0;
}

.content-wrapper {
  height: 100%;
}

.content {
  background-color: #344966;
  padding: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#schet {
  /*width: 100px;*/
  /*height: 30px;*/
  display: block;
  position: fixed;
  bottom: 10px;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid black;
  white-space: pre-line;
}
